<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LastTimeApplication"
        android:allowBackup="true"
        android:label="Last Time"
        android:supportsRtl="true"
        android:theme="@style/Theme.LastTime">
        <!-- mantenha os atributos de ícone/regras gerados pelo template -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LastTime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>